.navigation-wrapper {
    height: 50px;
    background-color: black;
    color: white;
    /* Flexbox container */
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 30px;
}

/* Left column */
.navigation-wrapper > .left-column > .logo img {
    width: 150px;
    padding-right: 50px;
}

/* Center column */
h1 {
    color: yellow;
    margin: 0px;
    font-size: 1.1em;
}
.navigation-wrapper > .center-column {
    display: grid;
    grid-template-columns: 1fr;
    width: 500px;
}

.navigation-wrapper > .center-column > .links {
    width: fit-content;
    display: flex;
    align-items: center;
}

.navigation-wrapper > .center-column > .links > .links-wrapper {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
}

.navigation-wrapper > .center-column > .links > .links-wrapper > .nav-link a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 20px;
}

.navigation-wrapper > .center-column > .links > .spark {
    width: 5%;
    color: #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-wrapper > .center-column > .links > .spark > .spark-text {
    font-size: 1.15em;
}

.navigation-wrapper > .center-column > .links > .spark > .spark-icon {
    font-size: 0.8em;
}

/* Right column */

.navigation-wrapper > .right-column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navigation-wrapper > .right-column > .right-column-btns {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-wrapper > .right-column > .right-column-btns > .button button {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 1%px 2%px;
    justify-content: space-between;
    background-color: slategray;
    color: white;
}

.btn-text {
    margin-right: 1%;
}

.create-icon {
    color: lightgreen;
}